<div id="editModal" class="editDialog" title="<%= @page_heading %>">
	<form id="addproject" action="/editpage" method="post">
		<ul>
			<li>
				<label for="title">Title</label>
				<input id="title" type="text" name="title" value="<%= @this_page.title %>" />
				<input hidden id="pageid" name="pageid" value="<%= @this_page.id %>" />
			</li>
			<li>
				<label for="code">Code</label>
				<textarea class="code" rows="6" cols="80" id="code" name="code"><%= @this_page.code %></textarea>
			</li>
			<li>
				<button type="submit">Save changes</button>
				<a class="button" id="preview" href="#">Preview Page</a>
				<a class="button" href="/edit/<%= @this_page.slug %>">Reset Page</a>
				<a class="button" href="/profile">Cancel</a>
			</li>
		</ul>
	</form>
</div>

<iframe seamless width="100%" height="1000px" id="frame" srcdoc='<%= @this_page.code %>' sandbox="allow-scripts" ></iframe>


<script type="text/javascript">
	var code;
	var button;
	var textarea;
	var iframe;
	var editButton;
	$(window).ready(function(){
		iframe = $('#frame');
		$('#preview').click(function(){
			textarea = $('textarea');
			var input = textarea.val();
			iframe.attr("srcdoc", input);
			textarea.text(input);
			$("#editModal").dialog("close");
		});
		$("#editModal").dialog({
			resizeable: true,
			autoOpen: true,
			modal: true,
			width: ($(window).width() / 3) * 2,
			height: ($(window).height() / 8) * 7,
		});
		$(window).resize(function(){
			$("#editModal").dialog({
				width: ($(window).width() / 3) * 2,
				height: ($(window).height() / 8) * 7,
				autoOpen: false
			});
			$("#editModal").find('textarea').css('height', ($(window).height() / 8) * 7 -  150);
		});
		editButton = $("#editButton");
		if (editButton) {
			editButton.click(function(){
				$("#editModal").dialog('open');
			});
		};
		$("#editModal").find('textarea').css('height', ($(window).height() / 8) * 7 -  150);
	});

</script>