<% if @edit %>
	<a href="/addtopic">Add Topic</a>
<% end %>
<ul>
	<% @topics.each do |topic| %>
		<li>
			<h2><%= topic.title %> - <%= topic.person.name %>, <%= topic.created_at.strftime("%m/%d/%Y at %I:%M%p") %></h2> 
			<%= topic.text %>
			<% if @edit %>
				<a href="/addpost">Reply To Topic</a>
			<% end %>
			<br>
				<ul>
					<% posts = topic.posts.all(:order => [ :created_at.desc ]) %>
					<% posts.each do |post| %>
						<li>
							<h2><%= post.title %> - <%= post.person.name %>, <%= post.created_at %></h2>
							<%= post.text %>
						</li>
						<br>
					<% end %>
				</ul>
		</li>
	<% end %>
</ul>