<h1><%= @page_heading %></h1>

<div id="profile">
	<div>
		<p><%= @p.firstname.capitalize %> <%= @p.lastname.capitalize %></p>
		<p><%= @p.email %></p>
	<div>

	<% if @p.pages.count > 0 %><h2>Your Pages</h2><% end %>
	<ul>
		<% @p.pages.each do |page| %>
			<li><a href="/pages/<%= page.slug %>"><%= page.title %></a> <a class="button" href="/edit/<%= page.slug %>">Edit</a></li>
		<% end %>
	</ul>

	<ul id="profile_controls">
		<li><a class="button" href="/addpage">Add Page</a></li>
		<li><a class="button" href="/addtopic">Add Topic</a></li>
	</ul>
</div>
