<h1><%= @page_heading %></h1>

<div id="profile">
	<div>
		<p><%= @p.firstname.capitalize %> <%= @p.lastname.capitalize %></p>
		<p><%= @p.email %></p>
	<div>

	<h2>Edit Pages</h2>
	<ul>
		<% @p.pages.each do |page| %>
			<li><a href="/pages/<%= page.slug %>"><%= page.title %></a> <a href="/edit/<%= page.slug %>">Edit</a></li>
		<% end %>
	</ul>

	<ul>
		<li><a href="/addpage">Add Page</a></li>
	</ul>

	<ul>
		<li><a href="/addtopic">Add Topic</a></li>
	</ul>
</div>
