<div >

    <div >
        <legend>
            <%= @page_heading %> 
        </legend>

        <div>
            <div>
                    <div>
                        <p><strong><%= @p.firstname.capitalize %> <%= @p.lastname.capitalize %></strong></p>
                        <p><%= @p.email %></p>
                        <br>
                        <legend>EDIT PAGES</legend>
                        <% @p.pages.each do |page| %>
                            <a href="/pages/<%= page.slug %>"><%= page.title %></a>
                        <% end %>
                        <div>
                            <label ></label>
                            <div>
                                <a href="/changeprofile">Change Profile</a>
                                <a href="/pages">Check Out Pages</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>